@charset "utf-8";
/* CSS Document */
/***************** Ali Css new **********************/
.img-left {
	float: left;
	height: 77px;
	width: 77px;
	margin-right: 32px;
}
.text-left {
	float: left;
	width: 80%;
	text-align: left;
}
.text-left h2 {
	margin-top: 0px !important;
}
#n-section1 .section-6 {
	padding-bottom: 0% !important;
}
#n-section1 .text-block-5 {
	margin-bottom: 00px;
}
#n-section2 .section-2 {
	margin-top: 0px;
}
#n-section2 .custom_container, #n-section4 .custom_container, #n-section7 .custom_container {
	width: 100%;
	max-width: 1450px
}

a.pic{
	    display: block;
    cursor: pointer;
    
    position: absolute;
    width: 463px;
    height: 253px;
}
a:hover.pic .feature_label a:hover  {
	filter:alpha(opacity=50) !important;
	-moz-opacity:0.5 !important;
	-khtml-opacity: 0.5 !important;
	opacity: 0.5 !important;
	z-index:99999;
	font-size: 30px;
}
	a.pic2{
    display: block;
    height: 176px;
    width: 321px;
    position: absolute;
    left: 0px;
    top: 0;
}
	
#n-section2 .feature {
	margin: 0 20px 20px 0 !important;
}
#n-section2 .feature_label {
	display: block;
	margin-top: 12%;
	margin-left: 15px;
	position: absolute;
	text-align: left;
		color: #00285C;
	font-size: 26px;
	font-family: "Poppins";
	text-decoration: none;
	font-weight: 600;
	line-height: 32px;
	width: auto;
    height: auto;
}
#n-section2 .feature_label a {
	color: #00285C;
	font-size: 26px;
	font-family: "Poppins";
	text-decoration: none;
	font-weight: 600;
	line-height: 32px;
	width: auto;
    height: auto;
}
#n-section2 .feature_label a:hover {
	
	

}



#n-section2 .feature_container {
	margin: 0px auto 0px;
}
#n-section2 .m-t-14 {
	margin-top: 14%;
}
#n-section4 .section-2 {
	margin-top: 0px;
}
#n-section3 .cta_section {
	padding-bottom: 40px;
	padding-top: 66px
}
#n-section3 .text-block-3 {
	font-size: 34px;
	margin-right: 250px;
	color: #00285C;
}
#n-section3 .button.gradient.large.diff {
	width: 250px;
}
#n-section3 .text-block-2, #n-section4 .text-block-2, #n-section5 .text-block-2, #n-section7 .text-block-2 {
	font-size: 18px;
	font-weight: 400;
}
#n-section-top .div-block-47 {
	display: none !important;
}
#n-section-top .div-block-13 {
	display: none !important;
}
#n-section4 .feature {
	display: inline-block;
	font-family: Poppins, sans-serif;
	color: #00285c;
	font-weight: 500;
	background: #fff;
	padding: 50px;
	border-radius: 10px;
}
#n-section4 .number {
	background-color: #00285C;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 24px;
	display: block;
	margin: -72px auto 30px auto;
	position: relative;
	z-index: 999;
	border-radius: 50%;
}
.dottedline {
	border: 2px dotted #00285C;
	width: 250px;
	height: 3px;
}
/*#n-section5 .map {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 700px;
	max-width: none;
	margin: 0% auto 60px;
	border-radius: 0px;
	background-color: #d5fbff;
}*/
#n-section6 .doctors_container {
	width: 50%;
}
#n-section7 .social_card_lonk {
	height: 100vh;
}
#n-section6 .doctors_container {
	width: 50%;
}
#n-section7 .section-6.card_footer {
	background-color: #F3F4F9;
	;
}
.m-r-20 {
	margin-right: 20px;
}
#n-section4 .sec4-style {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #F3F4F9;
	min-height: 70vh;
}
.content_grid-2 .paragraph {
	padding: 0 14.4%;
}
.section-3 {
	min-height: 60vh;
	padding-top: 40px;
	padding-bottom: 40px;
}
#n-section2 .section-2 {
	min-height: 60vh;
	margin-top: 40px;
	padding-top: 40px;
}
.section-4 {
	padding-top: 0px;
	padding-bottom: 0px;
}
.section-5 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.section-6.card_footer {
	padding-top: 1%;
	padding-bottom: 1%;
}
.section-29 {
	padding-top: 20px;
	padding-bottom: 0px;
}
#n-section3 .text-block-3 {
	font-weight: 600;
}
#n-section-2nd .service_maine_card {
	border: none;
	border-radius: none;
	background-color: none !important;
	padding: 0px 0px 0px;
}
#w-node-9ebfabc602d8-851af311 .feature_label {
	display: block;
	margin-top: 30%;
	margin-left: 15px;
	position: absolute;
	text-align: left;
	color: #00285C;
	font-size: 26px;
	font-family: "Poppins";
	text-decoration: none;
	font-weight: 600;
	line-height: 32px;
}
#w-node-9ebfabc602d8-851af311 .feature_label a {
	color: #00285C;
	font-size: 26px;
	font-family: "Poppins";
	text-decoration: none;
	font-weight: 600;
	line-height: 32px;
}
.t-m-2 {
	margin-top: 36%;
}
.button.gradient {
	font-size: 18px !important;
}
.button {
	font-size: 18px !important;
}
#n-section-top .scroll_anim_container p {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	position: absolute;
	top: 78px;
}
#n-section-top .scroll_anim_container {
	bottom: 3%;
}
.heading-3 {
   
    font-weight: 300;
    
}

#w-node-9ebfabc602d8-851af311 .feature_label.fet_tm2{
	margin-top: 40%;
}
/**********************************************************************/
/******************* MEDIA QURIES START HERE **************************/
/**********************************************************************/

@media only screen and (max-width: 1400px) {
	#n-section4 .feature_container {
		width: 95%;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	#n-section-top .heading {
    width: 65%;

    margin: 0 auto;
}
	#n-section1 .img-left img {
		max-width: 85%;
	}
	h2 {
		font-size: 22px;
		line-height: 20px;
	}
	.img-left {
		margin-right: 15px;
		margin-top: 10px;
	}
	.text-left {
		width: 67%;
	}
	.text-block-5 {
		width: 100%;
	}
	#n-section1 .cta_card._1 {
		margin-right: 0px;
	}
	#n-section1 .cta_card._2 {
		margin-left: 0px;
	}
	#n-section2 .content_grid-2 p {
		padding: 0 15px;
	}
	#n-section2 .feature_label {
		width: 28%;
		transform: none;
	}
	#n-section2 .feature_label a {
		font-size: 20px;
		line-height: 28px;
	}
	#n-section2 .feature_label {
		width: 28%;
		transform: none;
		margin-top: 8%;
	}
	#n-section2 .m-t-14 {
		margin-top: 12%;
	}
	#n-section2 .section-2 {
		min-height: 70vh;
	}
	#n-section3 .text-block-3 {
		display: inline-block;
		margin-right: 0px;
		margin-left: auto;
	}
	#n-section4 .dottedline {
		width: 84px;
	}
	#n-section4 .feature_container {
		width: 95%;
	}
	#n-section4 .feature {
		padding: 25px 20px;
	}
	#n-section4 .feature_label {
		width: 100%;
		font-size: 14px;
	}
	#n-section4 .number {
		margin: -50px auto 30px auto;
	}
	#n-section4 .section-2 {
		min-height: 72vh;
	}
	#n-section4 .sec4-style {
		padding-top: 0px;
		padding-bottom: 20px;
	}
	.section-3 {
		min-height: 60vh;
	}
	/*#n-section5 .map {
		height: 350px;
	}*/
	.section-29 .social_card_lonk {
		height: 28vh;
	}
	#n-section6 .doctors_container {
		width: 60%;
	}
}
@media only screen and (max-width: 767px) {
	#n-section-top .heading {
		width: 67%;}
	
	#n-section-top .scroll_anim_container {
		display: flex;
	}
	#n-section6 .doctors_container {
		width: 100%;
	}
	.dottedline {
		width: 55px;
		height: 3px;
		transform: rotate(90deg);
		position: relative;
		top: -30px;
		left: 134px;
	}
	#n-section1 .img-left img {
		max-width: 85%;
	}
	.img-left {
		margin-right: 15px;
		margin-top: 10px;
	}
	.text-left {
		width: 70%;
	}
	.text-block-5 {
		width: 100%;
	}
	h2 {
		font-size: 26px;
		line-height: 20px;
	}
	#n-section1 .custom_container.cta_container {
		margin-bottom: 0px;
		margin-top: 50px;
	}
	#n-section1 .cta_card._1 {
		border: none;
	}
	#n-section1 .cta_card._1 {
		height: 150px;
		margin-bottom: 0px;
	}
	#n-section2 .content_grid-2 p {
		padding: 0 15px;
	}
	#n-section2 .feature_label {
		width: 90%;
		transform: none;
	}
	#n-section2 .feature_label {
		margin-top: 24%;
	}
	#n-section2 .m-t-14 {
		margin-top: 32%;
	}
	#n-section2 .content_grid-2, #n-section6 .content_grid-2 {
		margin-bottom: 50px;
	}
	.feature_label {
		width: 100%;
		margin-top: 36px;
		transform: none;
		text-align: center;
		margin-left: 0px;
	}
	#n-section3 .text-block-3 {
    font-size: 30px;
    margin-right: auto;
    width: 100%;
    margin-bottom: 50px;
    padding: 0 20px;
    font-weight: 300;
}
	#n-section4 .button {
		width: 250px;
		padding: 15px 20px;
		margin-bottom: 20px;
	}
	.m-r-20 {
		margin-right: 0px;
	}
	.sec4-style {
		padding-top: 30px;
		padding-bottom: 40px;
	}
	.feature {
		display: block;
	}
	.numbers_container {
		text-align: center;
	}
	.feature_label.light.odd {
		width: 100%;
		text-align: center;
		margin-top: 15px;
	}
	/*#n-section5 .map {
		height: 300px;
	}*/
	#n-section5 .button.gradient {
		padding: 15px 20px;
		font-size: 12px;
		font-weight: 400;
		width: 250px;
		margin-right: 0px;
	}
	#n-section5 .button._2nd {
		margin-top: 19px;
		margin-left: 0px;
		padding: 13px 20px;
		font-size: 12px;
		clear: both;
		width: 250px;
	}
	#n-section5 .section-28 {
		padding-bottom: 40px;
	}
	#n-section6 .doctor {
		text-align: center;
		display: block;
		width: 100%;
	}
	.custom_container.card.verti {
		display: none;
	}
	#n-section6 .section-5 {
		background-color: #F3F4F9;
	}
	#n-section6 .doctor_data.home {
		display: block;
		margin-left: 0px;
		text-align: center;
	}
	#n-section6 .text-block-4 {
		width: 100%;
		margin-top: 0px;
		font-size: 16px;
	}
	#n-section6 .doctor_name_container {
		margin-top: 15px;
		font-size: 22px;
		margin-bottom: 10px;
	}
	.custom_container.instagram_feed {
		display: none;
	}
	#n-section7 .section-6.card_footer {
		background-color: #FFF;
	}
	/*#n-section7 .cta_card._1 {
		border: none;
	}*/
	#n-section7 .button.gradient.large {
		width: 250px;
	}
	.detail {
    display: block;}
	
	#n-section7 .section-29 {
		padding-top: 0px !important;
		padding-bottom: 0px;
	}
	.cta_card._1 {
		height: 150px;
		padding-bottom: 50px;
	}
	.cta_card._2 {
		height: 120px;
	}
	.footer {
		min-height: 784px;
	}
	.div-block-6 {
		display: block;
	}
	.div-block-6 {
		margin-left: 0px;
	}
	.custom_container.footer_section {
		width: 90%;
		border: none;
	}
	.foofter_flex {
		text-align: center;
		margin: 20px 20px 30px 20px;
	}
	.div-block-6 {
		display: block;
		transform: none;
	}
	.services_list_footer {
		display: block;
	}
	.foofter_flex.one {
		transform: none;
	}
	.div-block-7 {
		text-align: center;
	}
	.button.stroked.foot {
		margin-right: 0px;
		margin-left: 0px;
	}
	.foofter_flex.three {
		display: block;
	}
	/*.div-block-3 {
		display: block;
	}*/
	.div-block-5 {
		display: block;
		text-align: center;
	}
	.button.stroked.foot {
		;
		width: 100%;
		font-size: 14px;
	}
	.div-block-7 {
		display: block;
		width: 100%;
		height: 100%;
	}
	.heading-3 {
		font-size: 30px;
	}
	.content_grid-2 h2 {
		width: 95%;
		line-height: 30px;
		font-size: 22px;
	}
	#n-section-2nd .service_maine_card {
		background-color: none !important;
	}
	#n-section-2nd .service_container {
		margin-top: 0px;
	}
	.feature {
		margin-bottom: 57px;
	}
	#n-section-top .scroll_anim_container {
		bottom: 3%;
	}
	#n-section-top .scroll_anim {
		margin-top: -140px;
	}
	#n-section-top .scroll_anim_container p {
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		position: absolute;
		top: -20px;
	}
	#n-section2 .feature_label a:hover, .service_container .feature_label a:hover {
		opacity: .6;
	}

	#n-section4 .button.m-r-20 {
		width: 261px;
	}
	.index_p .section-3 .content_grid-2{
		margin-bottom: 50px;
	}

}
@media screen and (max-width: 500px) {
	.dottedline {
		left: 167px;
	}
	#n-section-top .scroll_anim_container {
		bottom: 16%;
	}
}
@media only screen and (max-width: 400px) {
	#n-section-top .heading {
    width: 66%;
}
	#n-section-top .scroll_anim {
		margin-top: 21px;
	}
	#n-section-top .scroll_anim_container p {
		top: 110px;
	}
	.dottedline {
		left: 151px;
	}
}
@media only screen and (max-width: 375px) {
	#n-section-top .heading {
    width: 74%;
}
	#n-section-top .scroll_anim_container {
		bottom: 24%;
	}
	#n-section-top .scroll_anim {
		margin-top: -50px;
	}
	#n-section-top .scroll_anim_container p {
		top: 55px;
	}

}
@media only screen and (max-width: 365px) {
	#n-section-top .heading {
    width: 75%;
}
	#n-section-top .scroll_anim {
		margin-top: -25px;
	}
	#n-section-top .scroll_anim_container p {
		top: 80px;
	}
	#n-section-top .scroll_anim_container {
    bottom: 15%;
}
	.dottedline {
		left: 143px;
	}

}
@media (max-height: 639px) and (max-width: 360px) {
	#n-section2 .feature_label {
		margin-top: 14%;
	}
	#w-node-9ebfabc602d8-851af311 .feature_label{
		margin-top: 15%;
	}
	#w-node-9ebfabc602d8-851af311 .feature_label.fet_tm2{
		margin-top: 19%;
	}
}
@media only screen and (max-width: 340px) {
	#n-section-top .heading {
    width: 85%;
}
	#n-section1 .img-left img {
		max-width: 70%;
	}
	#n-section1 .img-left {
		height: 60px;
		width: 60px;
		margin-right: 22px;
	}
	#n-section1 h2 {
		font-size: 20px;
	}
	.dottedline {
		left: 124px;
	}
	#n-section-top .scroll_anim_container {
		bottom: -6%;
	}
	#n-section-top .scroll_anim {
		margin-top: -75px;
	}
	#n-section-top .scroll_anim_container p {
		top: 40px;
	}
	#n-section2 .feature_label {
		margin-top: 24%;
	}
	#n-section3 .text-block-3{
		font-size: 26px;
	}
	#w-node-9ebfabc602d8-851af311 .feature_label{
		margin-top: 25%;
	}
	#w-node-9ebfabc602d8-851af311 .feature_label.fet_tm2{
		margin-top: 33%;
	}
}

.visit_page .service_container #w-node-9ebfabc602d8-851af311 .feature.diff a:hover .feature_label{
	opacity: .5 !important;
}
@media screen and (min-width: 991px){
	.visit_page .service_container #w-node-9ebfabc602d8-851af311 .feature.diff a.pic2{
		position: inherit;
	}
}
@media screen and (max-width: 991px){
	.visit_page .service_container #w-node-9ebfabc602d8-851af311 .feature.diff a.pic2{
		display: block;
		height: 176px;
		width: 100%;
		position: inherit;
		left: 0px;
		top: 0;
	}
	.visit_page #w-node-9ebfabc602d8-851af311 .feature_label{
		padding-right: 5px;
	}
}
/****************** Ali Css new *********************/