
  /*categories search box div*/
.visit_types_dv .search.home{
  border-color: #00285c;
  background-color: #00285c;
}
.visit_types_dv .section_title{
  width: 54%;
  float:left;
}
  .visit_types_dv #w-node-3edc56e7c1a4-fd1af309{
    width: 46%;
  }
.visit_types_dv #w-node-3edc56e7c1a4-fd1af309{
  float: right;
  margin-top: -13px;
}
.visit_types_dv .search.home{
  margin-top: 0px;
  margin-bottom: 0px;
}
.visit_types_dv .text-field{
  padding-top: 6px;
  padding-bottom: 9px;
}
.visit_types_dv .submit-button.homepage{
  height: 40px;
}

@media (max-width: 479px) {

  .visit_types_dv .search {
    width: 86vw;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;}
  .visit_types_dv #w-node-3edc56e7c1a4-fd1af309 {
    float: none;
  }
  .visit_types_dv .section_title, .visit_types_dv #w-node-3edc56e7c1a4-fd1af309 {
    width: 100%;
    float:none !important;
  }
  .visit_types_dv .search.home {
    margin: 0px;

  }
}
@media (max-width: 768px) {
  .visit_types_dv #w-node-3edc56e7c1a4-fd1af309 {
    float: none;
  }

  .visit_types_dv #w-node-3edc56e7c1a4-fd1af309 {
    width: 100%;
    margin-top:30px;
  }

  .visit_types_dv .section_title, .visit_types_dv #w-node-3edc56e7c1a4-fd1af309 {
    width: 100%;
    float:none;
  }
  .visit_types_dv .search.home {
    margin: 26px 0px;}

}
@media screen and (max-width: 767px){
  .visit_types_dv .search.home{
    padding: 0px 5px;
  }
  .visit_types_dv .text-field {
    padding-top: 12px;
    padding-bottom: 10px;
  }
  .visit_types_dv .submit-button.homepage {
    height: 35px;
  }
}
